@import "../../../bootstrap-4/css/bootstrap.css";

.color-primario{
    background-color: var(--primary);
    border-color: var(--primary);
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

#imagen{
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../imagenes/inicioSesion.jpeg");
    background-size:100% 150%;
}

h1{
    text-align: center;
    margin-bottom: 7%;
}

#formularioInicioSesion{
    width: 50%;
    display: block;
    float: right;
    padding: 7% 12.5%;
}

#btnIniciarSesion{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.form-group{
    margin-top: 7%;
}

button{
    margin: auto;
}

.center{
  text-align: center;
}

hr{
    width: 100%;
    border-color: #1b1e21;
}