{% extends 'usuarios/paginaInicio/PaginaInicioMaestro.html' %}
{% load static %}
{% load tz %}
{% block nombre_pagina %} Grupo {% endblock %}
{% block estilos-extra %}
    <link rel="stylesheet" type="text/css" href="{% static 'usuarios/consultar-alumnos-de-clase/estilos/consultar-alumnos-de-clase.css' %}">
{% endblock %}
{% block links %}
    <li>
        <a href="{% url 'ver_materia' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/inicio.svg' %}" alt="Icono de inicio"></div>
            <div class="titulo">Inicio</div>
        </a>
    </li>
    <li>
        <a href="{% url 'actividades' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/actividades.svg' %}" alt="Icono de actividades"></div>
            <div class="titulo">Actividades</div>
        </a>
    </li>
    <li>
        <a href="{% url 'foros' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/foros.svg' %}" alt="Icono de foros"></div>
            <div class="titulo">Foros</div>
        </a>
    </li>
    <li>
        <a href="{% url 'avisos' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/alertas.svg' %}" alt="Icono de inicio"></div>
            <div class="titulo">Avisos</div>
        </a>
    </li>
    <li class="link-actual">
        <a href="{% url 'grupo' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/grupo.svg' %}" alt="Icono de inicio"></div>
            <div class="titulo">Grupo</div>
        </a>
    </li>
{% endblock %}
{% block contenido %}
    <h1 class="titulo-seccion">Grupo</h1>
    <hr>
    <div id="informacion-alumnos">
        <p>Alumnos aceptados: {{ cantidad_alumnos_aceptados }}</p>
        <p>Alumnos rechazados: {{ cantidad_alumnos_rechazados }}</p>
        <p>Alumnos en espera de aceptación: {{ cantidad_alumnos_en_espera }}</p>
    </div>
    {% for alumno in alumnos %}
        <div class="alumno">
            <div class="cabecera-alumno">
                {% if alumno.foto_de_perfil %}
                <img class="foto-alumno" src="{{ alumno.foto_de_perfil.url }}" alt="foto de perfil">
                {% else %}
                <img class="foto-alumno" src="{% static 'usuarios/pagina-inicio/imagenes/usuario.png' %}" alt="foto de perfil">
                {% endif %}
                <div class="informacion-alumno">
                    <h3 class="nombre-alumno">{{ alumno.nombre }} {{ alumno.apellidos }}</h3>
                    <p>Correo: {{ alumno.usuario.email }} </p>
                    <p>Telefono: {{ alumno.numero_telefonico }}</p>
                </div>
                <div>
                    <form method="POST" action="alumno/{{ alumno.pk }}/cambiar_estado_inscripcion">
                        {% csrf_token %}
                        <select class="estado-inscripcion select-css" name="estado">
                            <option value="En espera" {% if alumno.estado_inscripcion == 'En espera' %}selected="selected" {% endif %} >En espera</option>
                            <option value="Aceptado" {% if alumno.estado_inscripcion == 'Aceptado' %}selected="selected" {% endif %} >Aceptado</option>
                            <option value="Rechazado" {% if alumno.estado_inscripcion == 'Rechazado' %}selected="selected" {% endif %} >Rechazado</option>
                        </select>
                        <button type="submit" class="btn-ver-detalles">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block scripts-adicionales %}
    <script src="{% static 'usuarios/consultar-alumnos-de-clase/scripts/consultar-alumnos-de-clase.js' %}"></script>
{% endblock %}