# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/
venv/Scripts/activate
.idea/misc.xml
apps/clases/migrations/0001_initial.py
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/a2968a33-c5de-4100-9864-945a8c027576.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/RETALI.iml
.idea/vcs.xml
.idea/workspace.xml
apps/actividades/migrations/0001_initial.py
apps/actividades/migrations/__init__.py
apps/avisos/migrations/0001_initial.py
apps/avisos/migrations/__init__.py
apps/clases/migrations/__init__.py
apps/foros/migrations/0001_initial.py
apps/foros/migrations/__init__.py
apps/usuarios/migrations/0001_initial.py
apps/usuarios/migrations/__init__.py
venv/pyvenv.cfg
venv/Scripts/activate.bat
venv/Scripts/Activate.ps1
venv/Scripts/sqlformat.exe
venv/Scripts/pip3.exe
venv/Scripts/easy_install-3.8.exe
venv/Scripts/django-admin.exe
venv/Scripts/deactivate.bat
venv/Scripts/pip3.8.exe
venv/Scripts/pip.exe
venv/Scripts/easy_install.exe
venv/Scripts/django-admin.py
venv/Scripts/python.exe
venv/Scripts/pythonw.exe
