:root{
    --height-tarjeta-actividad: 150px;
}

/*
    Información sobre las actividades
 */

#informacion-actividades{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgcolor);
    margin: 2% 5%;
    padding: 0.5% 1%;
    color: white;
    border-radius: 1rem;
}

#informacion-actividades p{
    margin: auto 0;
}

#informacion-actividades a{
    display: flex;
    text-decoration: none;
    background-color: var(--hovercolor);
    color: white;
    padding: 5px;
    border-radius: 1rem;
}

#informacion-actividades a img{
    height: 22px;
    margin: 0 5px;
}

/*
    Tarjetas de actividades
 */

.actividad{
    display: flex;
    justify-content: flex-start;
    height: var(--height-tarjeta-clase);
    padding: 15px;
    margin: 5%;
    background-color: #1e1e1e;
    border-radius: 2rem;
    color: white;
}

.actividad img{
    /*display: block;
    float: left;*/
    height: calc(var(--height-tarjeta-actividad) - 30px );
    width: calc(var(--height-tarjeta-actividad) - 30px );
    object-fit: cover;
    margin-right: 2%;
}

.actividad .informacion-actividad{
    width: 70%;
}

.actividad .estado-actividad{
    margin-left: auto;
}

.actividad .estado-actividad .color-actividad{
    height: calc((var(--height-tarjeta-actividad)/2));
    width: calc((var(--height-tarjeta-actividad)/2));
    border-radius: 50%;
}

.actividad .estado-actividad p{
    text-align: center;
    margin: 15px 0 0 0;
}

.abierta{
    background-color: var(--success);
}

.cerrada{
    background-color: var(--danger);
}