{% extends  'usuarios/paginaInicio/PaginaInicioMaestro.html' %}
{% load static %}
{% block nombre_pagina %} Inicio Alumno{% endblock %}
{% block estilos-extra %}
    <link href="{% static 'usuarios/pagina-inicio/estilos/pagina-inicio-maestro.css' %}" rel="stylesheet">
    <link href="{% static 'usuarios/pagina-inicio-alumno/estilos/pagina-inicio-alumno.css' %}" rel="stylesheet">
{% endblock %}
{% block menu-lateral %}
    <div id="menu-lateral" class="menu-expandido">
        <div id="cabecera">
            <div id="titulo">
                <a href="{% url 'inicio' %}">
                    <img src="{% static 'generales/imagenes/Logo.png' %}" alt="logo">
                </a>
            </div>
            <div id="boton-menu">
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
            </div>
        </div>
    {% block datosPerfil %}
        <div id="perfil">
            <div id="foto">
                {% if user.persona.alumno.foto_de_perfil %}
                    <img src="{{ user.persona.alumno.foto_de_perfil.url }}" alt="foto de perfil">
                {% else %}
                    <img src="{% static 'usuarios/pagina-inicio/imagenes/usuario.png' %}" alt="foto de perfil">
                {% endif %}
            </div>
            <div id="nombre">{{ user.persona.alumno.nombre }} {{ user.persona.alumno.apellidos }}</div>
        </div>
    {% endblock %}
        <div id="elementos-menu">
            <div class="elemento">
                <a href="{% url 'inicio' %}">
                    <div class="icono"><img src="{% static 'usuarios/pagina-inicio/imagenes/libros.png' %}" alt="Icono de libros"></div>
                    <div class="titulo">Clases</div>
                </a>
            </div>
        {% block clasesDeAlumno %}
            <div id="clases">
                {% for clase in clases %}
                    {% if clase.estado_inscipcion == 'Aceptado' %}
                    <div class="elemento elemento-clase {% if clase.codigo == clase_actual.codigo %} clase-actual {% endif %}"
                         data-toggle="tooltip" data-placement="top"
                         title="{% if clase.nombre|length > 30%}{{ clase.nombre|slice:"0:25" }}...{% else %}{{ clase.nombre }}{% endif %}">
                        <a href="{% url 'ver_materia_alumno' clase.codigo %}">
                            <div class="icono">
                                <img src="{% static 'usuarios/pagina-inicio/imagenes/clase.png' %}" alt="Foto de la clase">
                            </div>
                            {% if clase.nombre|length > 30 %}
                            <div class="titulo"> {{ clase.nombre|slice:"0:25" }}...</div>
                            {% else %}
                            <div class="titulo"> {{ clase.nombre }}</div>
                            {% endif %}
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block contenido %}
    <h1 class="titulo-seccion">Mis clases</h1>
    <hr>
    <div id="boton-registro-clase">
        <a id="btn-unirse-clase" href="" class="boton-primario">
            <img src="{% static 'usuarios/pagina-inicio/imagenes/agregar-elemento.svg' %}" alt="icono agregar">
            <div>unirse a clase</div>
        </a>
    </div>
    <div id="unirse-a-clase">
        <h2>Unirse a clase</h2>
        <hr>
        <form id="form-buscar-clase" method="POST">
            {% csrf_token %}
            <div class="form-group" id="grupo-buscar-clase">
                <label for="codigo-clase">Codigo de la clase:</label>
                <input id="codigo-clase" type="text" class="form-control" maxlength="10">
            </div>
            <div id="espacio-botones-buscar">
                <button type="button" id="btn-cancelar-buscar">Cancelar</button>
                <button id="btn-buscar" type="submit">Buscar</button>
            </div>
        </form>

        <div id="informacion-clase">
            <div id="seccion-clase">
                <p class="titulo-seccion-informacion-clase"><b>Clase</b></p>
                <hr class="separacion-seccion-informacion-clase">
                <div id="seccion-datos-clase">
                    <img id="imagen-clase" src="" alt="imgen de la clase">
                    <div id="datos-clase">
                        <p id="nombre-clase"></p>
                        <p id="nombre-escuela"></p>
                    </div>
                </div>
            </div>
            <div id="seccion-maestro">
                <p class="titulo-seccion-informacion-clase"><b>Maestro</b></p>
                <hr class="separacion-seccion-informacion-clase">
                <div id="seccion-datos-maestro">
                    <img id="imagen-maestro" src="{% static 'usuarios/pagina-inicio/imagenes/usuario.png' %}" alt="foto del maestro">
                    <p id="nombre-maestro"></p>
                </div>
            </div>
        </div>
        <div id="seccion-solicitar-unirse">
            <a href="{% url 'inicio' %}" id="btn-solicitar-unirse">Solicitar unirse</a>
        </div>
    </div>

    {% if cantidad_clases == 0 %}
        <div id="mensaje-inicio-maestro">
            <p>Al parecer aún no tienes ninguna clase registrada, puedes empezar pulsando el botón de unirse a clase.</p>
        </div>
    {% else %}
        <div id="clases-del-maestro">
            <div id="tarjetas-clases">
            {% if cantidad_clases_aceptado != 0 %}
                {% for clase in clases %}
                    {% if clase.estado_inscipcion == 'Aceptado' %}
                    <div class="clase">
                        {% if clase.imagen_con_calidades  %}
                            {% if clase.imagen_con_calidades.obtener_imagen_calidad_media %}
                                <img src="{{ clase.imagen_con_calidades.imagen_calidad_media.url }}" alt="Imagen de la clase">
                            {% else %}
                                <img src="{{ clase.imagen_con_calidades.imagen_original.url }}" alt="Imagen de la clase">
                            {% endif %}
                        {% else %}
                            <img src="{% static 'usuarios/pagina-inicio/imagenes/libro.png' %}" alt="Imagen de la clase">
                        {% endif %}
                        <div class="informacion-clase">
                            <h2>{{ clase.nombre }}</h2>
                            <p>{{ clase.escuela }}</p>
                            <p>Maestro: {{ clase.maestro.nombre }} {{ clase.maestro.apellidos }}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if cantidad_clases_en_espera != 0 %}
                <h3 class="titulo-estado-clase">Clases en espera de aceptación</h3>
                <hr>
                {% for clase in clases %}
                    {% if clase.estado_inscipcion == 'En espera' %}
                    <div class="clase">
                        {% if clase.imagen_con_calidades  %}
                            {% if clase.imagen_con_calidades.obtener_imagen_calidad_media %}
                                <img src="{{ clase.imagen_con_calidades.imagen_calidad_media.url }}" alt="Imagen de la clase">
                            {% else %}
                                <img src="{{ clase.imagen_con_calidades.imagen_original.url }}" alt="Imagen de la clase">
                            {% endif %}
                        {% else %}
                            <img src="{% static 'usuarios/pagina-inicio/imagenes/libro.png' %}" alt="Imagen de la clase">
                        {% endif %}
                        <div class="informacion-clase">
                            <h2>{{ clase.nombre }}</h2>
                            <p>{{ clase.escuela }}</p>
                            <p>Maestro: {{ clase.maestro.nombre }} {{ clase.maestro.apellidos }}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if cantidad_clases_rechazado != 0 %}
                <h3 class="titulo-estado-clase">Clases rechazadas</h3>
                <hr>
                {% for clase in clases %}
                    {% if clase.estado_inscipcion == 'Rechazado' %}
                    <div class="clase">
                        {% if clase.imagen_con_calidades  %}
                            {% if clase.imagen_con_calidades.obtener_imagen_calidad_media %}
                                <img src="{{ clase.imagen_con_calidades.imagen_calidad_media.url }}" alt="Imagen de la clase">
                            {% else %}
                                <img src="{{ clase.imagen_con_calidades.imagen_original.url }}" alt="Imagen de la clase">
                            {% endif %}
                        {% else %}
                            <img src="{% static 'usuarios/pagina-inicio/imagenes/libro.png' %}" alt="Imagen de la clase">
                        {% endif %}
                        <div class="informacion-clase">
                            <h2>{{ clase.nombre }}</h2>
                            <p>{{ clase.escuela }}</p>
                            <p>Maestro: {{ clase.maestro.nombre }} {{ clase.maestro.apellidos }}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block scripts-adicionales %}
    <script src="{% static 'usuarios/pagina-inicio-alumno/scripts/pagina-inicio.js' %}"></script>
    <script src="{% static 'generales/bootstrap-4/js/bootstrap.js' %}"></script>
{% endblock %}

