{% extends 'usuarios/paginaInicio/PaginaInicioMaestro.html' %}
{% load static %}
{% load tz %}
{% block nombre_pagina %} Foros {% endblock %}
{% block estilos-extra %}
    <link rel="stylesheet" type="text/css" href="{% static 'foros/consultar-foros-maestro/estilos/consultar-foros-maestro.css' %}">
{% endblock %}
{% block links %}
    <li>
        <a href="{% url 'ver_materia' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/inicio.svg' %}" alt="Icono de inicio"></div>
            <div class="titulo">Inicio</div>
        </a>
    </li>
    <li>
        <a href="{% url 'actividades' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/actividades.svg' %}" alt="Icono de actividades"></div>
            <div class="titulo">Actividades</div>
        </a>
    </li>
    <li class="link-actual">
        <a href="{% url 'foros' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/foros.svg' %}" alt="Icono de foros"></div>
            <div class="titulo">Foros</div>
        </a>
    </li>
    <li>
        <a href="{% url 'avisos' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/alertas.svg' %}" alt="Icono de inicio"></div>
            <div class="titulo">Avisos</div>
        </a>
    </li>
    <li>
        <a href="{% url 'grupo' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/grupo.svg' %}" alt="Icono de inicio"></div>
            <div class="titulo">Grupo</div>
        </a>
    </li>
{% endblock %}
{% block contenido %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                    <div class="alert alert-{{ message.level_tag }}" role="alert">
                        {{ message.message }}
                    </div>
            {% endfor %}
        </div>
    {% endif %}
    <h1 class="titulo-seccion">Foros</h1>
    <hr>
    <div id="informacion-foros">
        <p>Foros abiertos: {{ cantidad_foros_abiertos }}</p>
        <p>Total de foros: {{ total_de_foros }}</p>
        <a href="{% url 'registro_foro' clase_actual.codigo %}" >
            <div>Crear foro</div>
            <img src="{% static 'foros/consultar-foros-maestro/imagenes/registro-foro.svg' %}" alt="icono crear">
        </a>
    </div>
    {% for foro in foro_list %}
        <div class="foro">
            <img class="foro-imagen" src="{% static 'generales/imagenes/charlando.png' %}" alt="imagen actividad">
            <div class="informacion-foro">
                <h3><a href="{% url 'consultar_foro' clase_actual.codigo foro.pk %}">{{ foro.nombre }}</a></h3>
                {% timezone 'America/Mexico_City' %}
                <p>Del: <b>{{ foro.fecha_de_inicio }}</b> hasta las: <b>{{ foro.fecha_de_cierre }}</b>
                {% endtimezone %}
                <p>{{ foro.cantidad_de_participaciones }} Alumnos han participado en el foro</p>
            </div>
            <div class="estado-foro">
                {% if foro.estado == 'Abierta' %}
                    <div class="color-foro abierta"></div>
                    <p>Abierto</p>
                {% elif foro.estado == 'Cerrada'%}
                    <div class="color-foro cerrada"></div>
                    <p>Cerrado</p>
                {% else %}
                    <div class="color-actividad por-abrir"></div>
                    <p>Por abrir</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}