#formulario_registro_clase{
    display: flex;
    margin: 2% 15%;
    background: rgba(0, 0, 0, 0.85);
    border-radius: 2rem;
    padding: 2%;
    color: white;
}

#imagen-seleccionada{
    display: block;
    float: left;
    width: 30%;
    object-fit: cover;
    margin-right: 2%;
    border-radius: 2rem;
    margin-top: 5%;
    margin-bottom: 5%;
}

#campos-formulario{
    display: block;
    float: right;
    width: 70%;
}

.btn-danger{
    display: block;
    float: left;
}

.btn-primary{
    display: block;
    float: right;
}

.invalid-feedback{
    display: block;
}