{% extends  'usuarios/paginaInicio/PaginaInicioMaestro.html'%}
{% load static %}
{% block nombre_pagina %} Pagina inicio Alumno{% endblock %}
<body>
{% block contenido %}
    <h1 class="titulo-seccion">Mis clases</h1>
    <hr>
    <div id="boton-registro-clase">
        <div id="barra-busqueda">
            <a id="busqueda-boton" href="#">
                <img src="{% static 'usuarios/pagina-inicio/imagenes/busqueda.svg' %}" alt="">
            </a>
            <input id="busqueda-txt" type="text" name="busqueda" placeholder="Buscar clase">
        </div>
        <a href="{% url 'unirse_clase' %}" class="boton-primario">
            <img src="{% static 'usuarios/pagina-inicio/imagenes/agregar-elemento.svg' %}" alt="icono agregar">
            <div>unirse a clase</div>
        </a>
    </div>
    {% if clases_inscrito == 0 %}
        <div id="mensaje-inicio-maestro">
            <p>Al parecer aún no tienes ninguna clase registrada, puedes empezar pulsando el botón de unirse a clase.</p>
        </div>
    {% else %}
        <div id="clases-del-maestro">
            <div id="tarjetas-clases">
                {% for clase in clases %}
                    <div class="clase">
                        {% if clase.foto  %}
                            <img src="{{ clase.foto.url }}" alt="Imagen de la clase">
                        {% else %}
                            <img src="{% static 'usuarios/pagina-inicio/imagenes/libro.png' %}" alt="Imagen de la clase">
                        {% endif %}
                        <div class="informacion-clase">
                            <h2>{{ clase.nombre }}</h2>
                            <p>{{ clase.escuela }}</p>
                            <p>Codigo para unirse a clase: {{ clase.codigo }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-dark color-primario">
            <a class="navbar-brand" href="#">
                <img src="{% static 'imagenes/Logo.png' %}" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-1 ml-auto" >
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'cerrarSesion' %}">Cerrar sesión</a>
                    </li>
            </ul>
            </div>
        </nav>
    {% endblock %}
{% block cuerpo %}
        <h2>¡Bienvenido {{ user.persona.nombre }}!</h2>
        <div id="tarjetas">
            <div class="tarjeta" id="clases">
                <img src="{% static 'imagenes/libro.png' %}" alt="libro"/>
                <div class="contenido-tarjeta">
                    <h3>Clase</h3>
                    <p>Clases inscrito: {{ clases_inscrito }}</p>
                    <p>Clases pendiente de aceptación: {{ clases_pendientes }}</p>
                </div>
            </div>
            <div class="tarjeta" id="tareas">
                <img src="{% static 'imagenes/portapapeles.png' %}" alt="checklist"/>
                <div class="contenido-tarjeta">
                    <h3>Tareas</h3>
                    <p>Tareas que se cierran hoy: {{ '1' }}</p>
                    <p>Tareas que se cierran esta semana: {{ '3' }}</p>
                </div>
            </div>
            <div class="tarjeta" id="avisos">
                <img src="{% static 'imagenes/altoparlante.png' %}" alt="altavoz"/>
                <div class="contenido-tarjeta">
                    <h3>Anuncios</h3>
                    <p>Anuncios sin leer: {{ '0' }}</p>
                </div>
            </div>
            <div class="tarjeta" id="foros">
                <img src="{% static 'imagenes/charlando.png' %}" alt="conversacion"/>
                <div class="contenido-tarjeta">
                    <h3>Foros</h3>
                    <p>Foros abiertos: {{ foros_abiertos }}</p>
                </div>
            </div>
        </div>
    {% endblock %}
{% block datosPerfil %}
    <div id="perfil">
        <div id="foto">
            {% if user.persona.alumno.foto_de_perfil %}
                <img src="{{ user.persona.alumno.foto_de_perfil.url }}" alt="foto de perfil">
            {% else %}
                <img src="{% static 'usuarios/pagina-inicio/imagenes/usuario.png' %}" alt="foto de perfil">
            {% endif %}
        </div>
        <div id="nombre">{{ user.persona.alumno.nombre }} {{ user.persona.alumno.apellidos }}</div>
    </div>
{% endblock %}
    <script src="{% static 'bootstrap-4/js/bootstrap.js' %}"></script>
</body>
</html>