{% extends 'PaginaInicioAlumno.html' %}
{%  block titulo %} RETALI - Maestro {% endblock %}
{% block cuerpo %}
    {% if cantidad_clases == 0 %}
        <div id="mensaje-inicio-maestro">
            <h2>Bienvenido {{ user.persona.nombre }}</h2>
            <p>Al parecer aun no tienes ninguna clase registrada, para empezar a crear actividades, crear foros y
            enviar avisos, crea una nueva clase.</p>
            <div id="boton-registro-clase">
                <a href="{% url 'registrar_clase' %}" class="btn btn-secondary color-secundario">Crear clase</a>
            </div>
        </div>
    {% endif %}
{% endblock %}