{% extends 'PaginaInicioAlumno.html' %}
{%  block titulo %} RETALI - Maestro {% endblock %}
{% block cuerpo %}
    {% if cantidad_clases == 0 %}
        <div id="mensaje-inicio-maestro">
            <h2>Bienvenido {{ user.persona.nombre }}</h2>
            <p>Al parecer aun no tienes ninguna clase registrada, para empezar a crear actividades, crear foros y
            enviar avisos, crea una nueva clase.</p>
            <div id="boton-registro-clase">
                <a href="{% url 'registrar_clase' %}" class="btn btn-secondary color-secundario">Crear clase</a>
            </div>
        </div>
    {% else %}
        <div id="clases-del-maestro">
            <h2>Bienvenido {{ user.persona.nombre }}, estas son tus clases:</h2>
            <div id="tarjetas-clases">
                {% for clase in clases %}
                    <div class="clase">
                        {% if clase.foto  %}
                            <img src="{{ clase.foto.url }}">
                        {% endif %}
                        <div class="informacion-clase">
                            <h3>{{ clase.nombre }}</h3>
                            <p>{{ clase.escuela }}</p>
                            <p>Codigo para unirse a clase: {{ clase.codigo }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}