{% extends 'Login.html' %}
{% load static %}

{% block nombrePagina %} 
    RETALI - Registro 
{% endblock %}
{% block estilos %} 
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'usuarios/registro/estilos/registro.css' %}">
{% endblock %}
{% block imagenPrincipal %}
    <div id="imagenPortada"></div>
    {% endblock %}
{% block formulario %}
    <div id="registerForm">
        <h1>Registrate</h1>
        <form method="POST">
            {% csrf_token %}
             {% for message in messages %}
                  <div class="alert alert-warning">
                        {{ message }}
                  </div>
            {% endfor %}
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text"  class="form-control" name="nombre" id="nombre" placeholder="Ingresa tu nombre">
            </div>
            <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input type="text" class="form-control" name="apellidos" id="apellidos" placeholder="Ingresa tus apellidos">
            </div>
            <div class="form-group">
                <label for="correoElectronico">Correo electronico</label>
                <input type="text" class="form-control" name="correoElectronico" id="correoElectronico" placeholder="nombre@ejemplo.com">
            </div>
            <div class="form-group">
                <label for="contraseña">Contraseña</label>
                <div class="button-inside">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña">
                    <button type="button" class="btn btn-default btn-sm" id="showPassword">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"></path>
                            <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"></path>
                          </svg>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmarContraseña">Confirmar contraseña</label>
                <div class="button-inside">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmarContraseña" placeholder="Ingresa nuevamente tu contraseña">
                </div>
            </div>
            <div class="form-group">
                <label for="tipoUsuario">¿Qué eres?</label>
                <select class="form-control" id="tipoUsuario" name="tipoUsuario">
                    <option value="Maestro">Maestro</option>
                    <option value="Alumno">Alumno</option>
                </select>
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Ingresa un número de telefono">
            </div>
            <div id="btnRegistro">
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
            <div id="linea">
                <hr id="linea-izquierda">
                <span id="texto-entre-lineas"> O </span>
                <hr id="linea-derecha">
            </div>
            <p>¿Ya tienes una cuenta?</p>
            <div id="btnInicioSesion">
                <a href="http://localhost:8000/login/" class="btn btn-secondary">Iniciar sesión</a>
            </div>
        </form>
    </div>
{% endblock %}

