:root{
    --width: 250px;
    --padding: 10px;
    --heigh-nav: 70px;
    --bgcolor: #2E3034;
    --hovercolor: #f09a26;
    --width-collapsed: 45px;
    --primary-color: #4b4b4b;
    --secondary-color: #0f4c81;
}

html, body{
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto, serif;
    color: white;
}

/*
    Formulario registro
 */

h1{
    text-align: center;
    margin-bottom: 7%;
}

#registerForm{
    width: 35%;
    display: block;
    padding: 2% 5%;
    margin: 50px auto;
    background-color: var(--bgcolor);
    border-radius: 1rem;
}

/*
    Inputs formulario registro
 */

#registerForm form div input,
#registerForm form div select{
    background-color: var(--primary-color);
    border-radius: 1rem;
    border: none;
    color: white;
}

.form-group{
    margin-top: 7%;
}
.center{
    text-align: center;
}

.form-group label{
    font-size: 0.9em;
    margin-left: 2%;
}


#showPassword{
    position:absolute;
    color: white;
    right: 0;
    top: 4px;
    border:none;
    height:30px;
    width:30px;
    border-radius:100%;
    outline:none;
    text-align:center;
    font-weight:bold;
    padding:0;
    margin-right: 1%;
}

/*
    Boton registro
 */

#btnRegistro button{
    background-color: var(--hovercolor);
    border-color: var(--hovercolor);
    border-radius: 1rem;
}

#btnRegistro button{
    width: 50%;
    margin: 10% 25%;
    text-align: center;
}

button:hover{
    cursor:pointer;
}

button{
    margin: auto;
}

/*
    Boton inicio de sesion
 */

#btnInicioSesion{
    width: 50%;
    margin: 5% 25%;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 0.5rem 0;
    border-radius: 1rem;
}

#btnInicioSesion a{
    text-decoration: none;
    color: white;
}

.button-inside{
    position: relative;
}

#linea{
    margin-top: 1%;
}

#linea-izquierda{
    width: 40%;
    display: block;
    float: left;
    border-color: #707070;
}

#linea-derecha{
    width: 40%;
    display: block;
    float: left;
    border-color: #707070;
}

#texto-entre-lineas{
    width: 20%;
    display: block;
    float: left;
    text-align: center;
    color: #707070;
}

p{
    text-align: center;
    margin-top: 7.5%;
    margin-bottom: 0;
}