@import "../../../bootstrap-4/css/bootstrap.css";

#registerForm{
    width: 50%;
    height: 100%;
    display: block;
    float: right;
    padding: 2% 12.5% 0% 12.5%;
}
#imagenPortada{
    display: block;
    float: left;
    width: 50%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../imagenes/inicioSesion.jpeg");
    background-size: 100% 100%;
}

h1{
    text-align: center;
    margin-bottom: 7%;
}

.form-group{
    margin-top: 7%;
}
.center{
    text-align: center;
}

.form-group label{
    font-size: 0.9em;
    margin-left: 2%;
}

.color-primario{
    background-color: var(--primary);
    border-color: var(--primary);
}


#btnRegistro button{
    width: 50%;
    margin: 10% 25%;
    text-align: center;
}
button:hover{
    cursor:pointer;
  }
button{
    margin: auto;
}
#btnInicioSesion{
    width: 50%;
    margin: 10% 25%;
    text-align: center;
}
#showPassword{
    position:absolute;
    right: 0;
    top: 4px;
    border:none;
    height:30px;
    width:30px;
    border-radius:100%;
    outline:none;
    text-align:center;
    font-weight:bold;
    padding:0;
    margin-right: 1%;
}
.button-inside{
    position: relative;
}


#linea{
    margin-top: 1%;
}

#linea-izquierda{
    width: 40%;
    display: block;
    float: left;
    border-color: #707070;
}

#linea-derecha{
    width: 40%;
    display: block;
    float: left;
    border-color: #707070;
}

#texto-entre-lineas{
    width: 20%;
    display: block;
    float: left;
    text-align: center;
    color: #707070;
}
p{
    text-align: center;
    margin-top: 7.5%;
    margin-bottom: 0%;
}