{% extends 'usuarios/paginaInicio/PaginaInicioMaestro.html' %}
{% load static %}
{% block titulo %} Pagina no encontrada {% endblock %}
{% block estilos-extra %}
    <link rel="stylesheet" type="text/css" href="{% static 'generales/estilos/pagina-no-encontrada.css' %}">
{% endblock %}
{% block links %} {% endblock %}
{% block contenido %}
    <div id="mensaje-pagina-no-encontrada">
        <img src="{% static 'generales/imagenes/pagina-no-encontrada.png' %}">
        <h1>Lo sentimos la pagina que busca no se encuentra</h1>
        <a href="{% url 'paginaInicio' %}">Volver al inicio</a>
    </div>
{% endblock %}
