#entrega{
    background-color: var(--bgcolor);
    color: white;
    margin: 2% 10%;
    padding: 1%;
    display: flow-root;
    border-radius: 2rem;
}

#entrega #cabecera-actividad{
    display: flex;
    justify-content: flex-start;
}

#entrega #cabecera-actividad #informacion-actividad{
    margin-right: auto;
}

#entrega #cabecera-actividad img{
    width: 88px;
    height: 88px;
}

#entrega #cabecera-actividad #calificacion-actividad #calificacion-circulo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    line-height: 70px;
    font-size: 1.5rem;
    background-color: var(--hovercolor);
}

#lista-entregas .tarjeta-entrega .calificacion-entrega p{
    text-align: center;
    margin: 5px 0 0 0;
}

#cuerpo-entrega div input,
#cuerpo-entrega div textarea{
    background-color: var(--primary-color);
    border-radius: 1rem;
    border: none;
    color: white;
}

#cuerpo-entrega div label{
    margin-left: 1rem;
}

#inputs-registro-actvidad input[type="submit"]{
    background-color: var(--hovercolor);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 1rem;
    vertical-align: center;
    margin: 2.5% 0;
    float: right;
}

/*
    Dropzone
 */
#archivos-adjuntos{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.drop-zone {
  width: 100px;
  height: 100px;
  padding: 5px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 10px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed var(--hovercolor);
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.drop-zone--over {
  border-style: solid;
}

#drop-zone-input{
    display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--primary-color);
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

.drop-zone__thumb.file{
    background-image: url("../../revisar-entrega-actividad/imagenes/archivo.svg");
    background-position: center;
}

/*
    Thumbzone hover
 */

.archivo:hover{
    background-color: #4b4b4b;
    border-style: groove;
    background-image: url("../imagenes/eliminar.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.drop-zone.archivo:hover > div{
  display:none;
}

/*
    Zona envio archivos
 */

#enviar-formulario{
    margin-top: 2%;
    display: flex;
    justify-content: flex-end;
}

#linea-entrega{
    margin: 0 1%;
}

/*
    progress-bar
 */

#progeso-subida{
    margin-right: auto;
    display: none;
}

.progressbar{
    height: 30px;
    width: 300px;
    border: 1px solid var(--hovercolor);
    border-radius: 1rem;
    background-color: var(--primary-color);
}

.progressbar-fill{
    height: 100%;
    width: 0;
    background: var(--hovercolor);
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 1rem;
}

.progressbar-text{
    margin-left: 10px;
    font-weight: bold;
}

/*
    Boton enviar
 */

button[type="submit"]{
    background-color: var(--hovercolor);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 1rem;
    vertical-align: center;
    margin: 0 2.5% 2% 0;
    float: right;
}