:root{
    --height-tarjeta-actividad: 150px;
}

/*
    Información sobre los foros
 */

#informacion-foros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgcolor);
    margin: 2% 5%;
    padding: 0.5% 1%;
    color: white;
    border-radius: 1rem;
}

#informacion-foros p{
    margin: auto 0;
}

#informacion-foros a{
    display: flex;
    text-decoration: none;
    background-color: var(--hovercolor);
    color: white;
    padding: 5px;
    border-radius: 1rem;
}

#informacion-foros a img{
    height: 22px;
    margin: 0 5px;
}

/*
    Tarjetas de foro
 */

.foro{
    display: flex;
    justify-content: flex-start;
    height: var(--height-tarjeta-clase);
    padding: 15px;
    margin: 5%;
    background-color: #1e1e1e;
    border-radius: 2rem;
    color: white;
}

.foro img{
    height: calc(var(--height-tarjeta-actividad) - 30px );
    width: calc(var(--height-tarjeta-actividad) - 30px );
    object-fit: cover;
    margin-right: 2%;
}

.foro .informacion-foro{
    width: 70%;
}

.foro .estado-foro{
    margin-left: auto;
}

.foro .informacion-foro h3 a{
    text-decoration: none;
    color: white;
}

.foro .informacion-foro h3 a:hover{
    color: var(--hovercolor);
}

.foro .estado-foro .color-foro{
    height: calc((var(--height-tarjeta-actividad)/2));
    width: calc((var(--height-tarjeta-actividad)/2));
    border-radius: 50%;
}

.foro .estado-foro p{
    text-align: center;
    margin: 15px 0 0 0;
}

.abierta{
    background-color: var(--success);
}

.cerrada{
    background-color: var(--danger);
}

.por-abrir{
    background-color: #121212;
}