{% extends 'clases/informacion-clase/InformacionClase.html' %}

{% load static %}
{% block nombre_pagina %} {{ clase_actual.nombre}} {% endblock %}
{% block estilos-extra %}
    <link rel="stylesheet" type="text/css" href="{% static 'clases/informacion-clase/estilos/informacion-clase.css' %}">
{% endblock %}
{% block links %}
    <li class="link-actual">
        <a href="{% url 'ver_materia_alumno' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/inicio.svg' %}" alt="Icono de inicio"></div>
            <div class="titulo">Inicio</div>
        </a>
    </li>
    <li>
        <a href="{% url 'actividades_alumno' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/actividades.svg' %}" alt="Icono de actividades"></div>
            <div class="titulo">Actividades</div>
        </a>
    </li>
    <li>
        <a href="{% url 'foros' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/foros.svg' %}" alt="Icono de foros"></div>
            <div class="titulo">Foros</div>
        </a>
    </li>
    <li>
        <a href="{% url 'avisos' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/alertas.svg' %}" alt="Icono de inicio"></div>
            <div class="titulo">Avisos</div>
        </a>
    </li>
{% endblock %}
{{% block menu-lateral %}
    <div id="menu-lateral" class="menu-expandido">
        <div id="cabecera">
            <div id="titulo">
                <a href="{% url 'paginaInicio' %}">
                    <img src="{% static 'generales/imagenes/Logo.png' %}" alt="logo">
                </a>
            </div>
            <div id="boton-menu">
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
            </div>
        </div>
    {% block datosPerfil %}
        <div id="perfil">
            <div id="foto">
                {% if user.persona.alumno.foto_de_perfil %}
                    <img src="{{ user.persona.alumno.foto_de_perfil.url }}" alt="foto de perfil">
                {% else %}
                    <img src="{% static 'usuarios/pagina-inicio/imagenes/usuario.png' %}" alt="foto de perfil">
                {% endif %}
            </div>
            <div id="nombre">{{ user.persona.alumno.nombre }} {{ user.persona.maestro.apellidos }}</div>
        </div>
    {% endblock %}
        <div id="elementos-menu">
            <div class="elemento">
                <a href="{% url 'paginaInicio' %}">
                    <div class="icono"><img src="{% static 'usuarios/pagina-inicio/imagenes/libros.png' %}" alt="Icono de libros"></div>
                    <div class="titulo">Clases</div>
                </a>
            </div>
            <div id="clases">
                {% for clase in clases %}
                    {% if clase.estado_inscipcion == 'Aceptado' %}
                    <div class="elemento elemento-clase">
                        <a href="{% url 'ver_materia_alumno' clase.codigo %}">
                            <div class="icono">
                                {% if clase.foto %}
                                    <img src="{% static 'usuarios/pagina-inicio/imagenes/clase.png' %}" alt="Foto de la clase">
                                {% else %}
                                    <img src="{% static 'usuarios/pagina-inicio/imagenes/clase.png' %}" alt="Foto de la clase">
                                {% endif %}
                            </div>
                            <div class="titulo">{{ clase.nombre }}</div>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block contenido %}
    <h1>{{ clase_actual.nombre }}</h1>
    <hr>
    <div id="tarjeta-informacion-clase">
        {% if user.persona.alumno.foto_de_perfil %}
            <img src="{{ user.persona.alumno.foto_de_perfil.url }}" alt="foto de perfil">
            {% else %}
                <img src="{% static 'usuarios/pagina-inicio/imagenes/usuario.png' %}" alt="foto de perfil">
        {% endif %}
        <div>
            <p> Datos del docente</p>
            <p>Docente: {{ clase_actual.maestro.nombre }}  {{ clase_actual.maestro.apellidos }}</p>
            <p>Teléfono: {{ clase_actual.maestro.numero_telefonico }}</p>
        </div>
    </div>
    <div id="tarjeta-informacion-clase">
        <img src="{{ clase_actual.foto.url }}" alt="Foto de clase">
        <div>
             <p> Otros datos</p>
            <p>{{ clase_actual.escuela }}</p>
            <p>Codigo de la clase: {{ clase_actual.codigo }}</p>
        </div>
    </div>
{% endblock %}