{% extends 'usuarios/pagina-inicio-alumno/PaginaInicioAlumno.html' %}
{% load static %}
{% block nombre_pagina %} {{ clase_actual.nombre}} {% endblock %}
{% block estilos-extra %}
    <link rel="stylesheet" type="text/css" href="{% static 'clases/informacion-clase/estilos/informacion-clase.css' %}">
{% endblock %}
{% block links %}
    <li class="link-actual">
        <a href="{% url 'ver_materia_alumno' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/inicio.svg' %}" alt="Icono de inicio"></div>
            <div class="titulo">Inicio</div>
        </a>
    </li>
    <li>
        <a href="{% url 'actividades_alumno' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/actividades.svg' %}" alt="Icono de actividades"></div>
            <div class="titulo">Actividades</div>
        </a>
    </li>
    <li>
        <a href="{% url 'foros_alumno' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/foros.svg' %}" alt="Icono de foros"></div>
            <div class="titulo">Foros</div>
        </a>
    </li>
    <li>
        <a href="{% url 'avisos_alumno' clase_actual.codigo %}">
            <div class="icono"><img src="{% static 'clases/informacion-clase/imagenes/alertas.svg' %}" alt="Icono de inicio"></div>
            <div class="titulo">Avisos</div>
        </a>
    </li>
{% endblock %}
{% block contenido %}
    <h1>{{ clase_actual.nombre }}</h1>
    <hr>
    <div id="tarjeta-informacion-clase">
        {% if user.persona.alumno.foto_de_perfil %}
            <img src="{{ user.persona.alumno.foto_de_perfil.url }}" alt="foto de perfil">
        {% else %}
            <img src="{% static 'usuarios/pagina-inicio/imagenes/usuario.png' %}" alt="foto de perfil">
        {% endif %}
        <div>
            <h4> Datos del docente</h4>
            <p>Docente: {{ clase_actual.maestro.nombre }}  {{ clase_actual.maestro.apellidos }}</p>
            <p>Teléfono: {{ clase_actual.maestro.numero_telefonico }}</p>
        </div>
    </div>
    <div id="tarjeta-informacion-clase">
        {% if clase_actual.imagen_con_calidades  %}
            {% if clase_actual.imagen_con_calidades.obtener_imagen_calidad_media %}
                <img src="{{ clase_actual.imagen_con_calidades.imagen_calidad_media.url }}" alt="Imagen de la clase">
            {% else %}
                <img src="{{ clase_actual.imagen_con_calidades.imagen_original.url }}" alt="Imagen de la clase">
            {% endif %}
        {% else %}
            <img src="{% static 'usuarios/pagina-inicio/imagenes/libro.png' %}" alt="Imagen de la clase">
        {% endif %}
        <div>
            <h4>Información de la clase</h4>
            <p>{{ clase_actual.escuela }}</p>
            <p>Codigo de la clase: {{ clase_actual.codigo }}</p>
        </div>
    </div>
{% endblock %}