#titulo-foro{
    font-size: 1.8rem;
    color: white;
    text-align: center;
    margin-top: 20px;
}

/*
    Información foro
 */

#informacion-foro{
    color: white;
    padding: 10px 30px;
    width: 80%;
    background-color: var(--bgcolor);
    margin: 2% 10%;
    border-radius: 1rem;
}

#cabecera-informacion-foro{
    display: flex;
    justify-content: flex-start;
    height: 50px;
}

#cabecera-informacion-foro img{
    height: 50px;
    width: 50px;
}

#fechas-foro{
    margin: auto auto auto 10px;
}

#estado-foro{
    margin: auto 0;
}

#titulo-descripcion{
    margin: 10px 0;
    font-weight: bold;
}

#seccion-modificar{
    display: flex;
    justify-content: flex-end;
}

#boton-editar{
    display: flex;
    color: white;
    background-color: var(--hovercolor);
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 1rem;
    vertical-align: center;
    margin: 4.5% 0 0 0;
    float: right;
    justify-content: space-between;
}

#boton-editar img,
#boton-editar div{
    font-size: 1rem;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}

#boton-editar:hover{
    background-color: var(--hovercolor-hover);
}

#boton-editar img#imagen-boton-editar{
    height: 20px;
    width: 20px;
    margin: 0 7px;
}

/*
    Participacion foro
 */

#participa-en-foro{
    width: 80%;
    margin: 2% 10%;
    background-color: var(--bgcolor);
    color: white;
    padding: 10px 30px;
    border-radius: 1rem;
}

#informacion-alumno{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

#informacion-alumno img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

#informacion-alumno p{
    margin: auto 0;
}

#participa-en-foro hr{
    width: 98%;
    margin: 0 1%;
}

#participa-en-foro form{
    margin-top: 1%;
}

#participa-en-foro form textarea{
    background-color: var(--primary-color);
    border: none;
    color: white;
}

#zona-boton-enviar-participacion{
    display: flex;
    justify-content: flex-end;
}

#participa-en-foro form div button[type="submit"]{
    background-color: var(--hovercolor);
    color: white;
    border-radius: 0.5rem;
    border: none;
    padding: 10px;
}

#participa-en-foro form div button[type="submit"]:hover{
    background-color: var(--hovercolor-hover);
}

/*
    Participaciones
 */

.participacion{
    width: 80%;
    margin: 2% 10%;
    background-color: var(--bgcolor);
    color: white;
    padding: 10px 30px;
    border-radius: 1rem;
}

.informacion-participacion{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.imagen-alumno-participacion{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.informacion-participacion p{
    margin: auto 0;
}

.fecha-participacion{
    margin: auto 0 auto auto !important;
}

.separacion-participacion{
    margin: 5px 0;
}

/*
    Respuestas
 */

.informacion-respuesta{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

.imagen-autor-respuesta{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.informacion-respuesta p{
    margin: auto 0;
}

.respuesta{
    margin-left: 20px;
}

.fecha-respuesta{
    margin: auto 0 auto auto !important;
}


.separacion-respuestas{
    border: 1px solid var(--primary-color);
    width: 100%;
    margin: 0;
}

/*
    Formulario responder
 */

.participacion form{
    margin-top: 1%;
    margin-left: 20px;
}

.participacion form textarea{
    background-color: var(--primary-color);
    border: none;
    color: white;
}

.zona-boton-enviar-respuesta{
    display: flex;
    justify-content: flex-end;
}

.participacion form div button[type="submit"]{
    background-color: var(--hovercolor);
    color: white;
    border-radius: 0.5rem;
    border: none;
    padding: 10px;
}

.participacion form div button[type="submit"]:hover{
    background-color: var(--hovercolor-hover);
}