@import "../bootstrap-4/css/bootstrap.css";

html, body{
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
    /*background-image: url("../imagenes/fondo.jpg");*/
    object-fit: cover;
    background-repeat: no-repeat;
}

nav a img{
    width: 50%;
    margin: 0;
}

.navbar a{
    color: white;
}

.navbar{
    padding: 0;
}

h2{
    text-align: center;
    margin: 2% 0 0 0;
}

#clases{
    background-color: var(--secondary);
}

#tareas{
    background-color: var(--primary);
}

#avisos{
    background-color: #dc3545;
}

#foros{
    background-color: #1e7e34;
}

.tarjeta{
    margin: 5% 10% 0 10%;
    width: 30%;
    display: block;
    float: left;
    height: 20%;
    color: white;
    border-radius: 5%;
}

.tarjeta img{
    display: block;
    float: left;
    width: 30%;
    height: 100%;
    padding: 1.5%;
}

.tarjeta h3{
    text-align: center;
}

.tarjeta div{
    display: block;
    float: right;
    width: 70%;
}

#mensaje-inicio-maestro{
    background: rgba(0, 0, 0, 0.75);
    margin: 4% 15%;
    border-radius: 2rem;
    padding: 2%;
    color: white;
}

#mensaje-inicio-maestro h2{
    text-align: center;
}

#mensaje-inicio-maestro p{
    margin: 3% 0 0 0;
    font-size: 1.50rem;
    text-align: center;
}

#boton-registro-clase{
    margin: 2% 0 0 0;
    display: flex;
    justify-content: center;
}

#tarjetas-clases{
    display: inline-block;
    margin: 2% 10%;
    color: white;
    width: 80%;
}

.clase{
    height: 180px;
    padding: 10px;
    margin: 5%;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 2rem;
}

.clase img{
    display: block;
    float: left;
    height: 160px;
    width: 30%;
    object-fit: cover;
    margin-right: 2%;
    border-radius: 2rem;
}

.informacion-clase{
    display: block;
    float: right;
    width: 68%;
    height: 170px;
}

.color-primario{
    background-color: var(--primary);
    border-color: var(--primary);
}

.color-secundario{
    background-color: var(--secondary);
    border-color: var(--secondary);
}